* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* list-style-type: none; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    /* background-color: rgb(5, 5, 75); */
}

/* ========== THE HEADER SECTION ========== */
header {
    border: 2px solid crimson;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: rgb(5, 5, 75);
    /* background-color: transparent; */
    /* z-index: 2; */
    opacity: var();
    /* position: fixed; */
    /* top: 0; */
    width: 100%;
    margin: auto;
    border: none;
    gap: 5em;
}

.logo {
    border: 2px solid whitesmoke;   
    border-top: none;
    /* border-left: none; */
    border-right: none;
    margin-left: 2px;
    /* border: none; */
}

.logo a {
    display: flex;
    gap: .3em;
    align-items: center;
    font-weight: 400;
    color: white;
    font-size: 14px;
}
.logo a h2{
    display: flex;
    align-items: center;
    /* border: 2px solid yellow; */
}
.logo a img{
    /* border: 2px solid white; */
    width: 60px;
    filter: brightness(0) invert(1);
}
.menus {
    border: 2px solid green;
    display: flex;
    gap: 3em;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    border: none;
}

.menus a {
    color: white;
}

.bar {
    border: 2px solid rebeccapurple;
    color: white;
    /* width: 30px; */
    padding: 5px;
    display: none;
    border: none;
}

/* ====== MEDIA QUERY FOR HEADER ====== */
@media(max-width:938px) {
    .header {
        justify-content: space-between;
        width: 0%;
    }

    .menus {
        display: none;
    }

    .bar {
        display: block;
        font-size: 22px;
    }
}

@media(max-width:768px) {
    .menus {
        display: none;
    }

    header {
        justify-content: space-between;
    }
}

@media(max-width:320px) {
    .logo a {
        font-size: 8px;
        /* border: 2px solid white; */
    }
    .logo img{
        /* width: 10px; */
        height: 50px;
        /* border: 2px solid green; */
    }
    .bar {
        font-size: 20px;
    }

}

/* ========== THE HERO SECTION ========== */
.herosect {
    border: 2px solid crimson;
    background-color: rgb(5, 5, 75);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    border: none;
    width: 100%;
    margin: auto;
    /* padding-top: 35px; */
}

.image {
    border: 2px solid crimson;
    /* background-color: white; */
    /* padding: 10px; */
    border: none;
}

.name {
    border: 2px solid white;
    padding: 10px;
    /* background-color: white; */
    /* text-align: center; */
    color: white;
    border: none;
}

.name h1 {
    border: 2px solid red;
    padding: 10px;
    border: none;
    font-size: 57px;
}

.name p {
    border: 2px solid orange;
    font-size: 35px;
    font-weight: 600;
    padding: 10px;
    border: none;
    color: rgb(223, 217, 217);
}

/* ====== MEDIA QUERY FOR HERO SECTION ====== */
@media(max-width:938px) {
    .image img{
        width: 220px;
        height: 230px;
    }
    .name h1{
        font-size: 46px;
    }
    .name p{
        font-size: 28px;
    }
    .herosect{
        height: 80vh;
    }
}
@media(max-width:687px) {
    .image img{
        width: 200px;
        height: 210px;
    }
    .name h1{
        font-size: 30px;
    }
    .name p{
        font-size: 18px;
    }
}
@media(max-width:543px) {
    .herosect{
        flex-wrap: wrap;
    }
    .name p{
        text-align: center;
    }
}

/* ========== MY INFO SECTION ========== */
.infosect {
    border: 2px solid rgb(1, 1, 92);
    ;
    background-color: rgb(1, 1, 92);
    /* border: none; */
}

.myinfo {
    border: 2px solid green;
    background-color: rgb(2, 2, 126);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 90px;
    padding: 30px 10px;
    border: none;
}

.detcont {
    border: 2px solid seagreen;
    display: flex;
    gap: 1em;
    border: none;
}

.detail {
    border: 2px solid white;
    /* margin-top: 8px; */
    line-height: 35px;
    font-size: 18px;
    color: rgb(197, 194, 194);
    border-top: none;
    border-left: none;
    border-bottom: none;
    padding: 3px;
}

.detail ul {
    list-style-type: none;
}

strong {
    color: white;
}

.icons {
    border: 2px solid crimson;
    padding: 10px;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    gap: 2em;
    margin-left: 10px;
    border: none;
}

.icons .icon {
    /* border: 2px solid green; */
    background-color: white;
    width: 40px;
    padding: 3px;
    border-radius: 50px;
}

.about {
    color: white;
}

.about h2 {
    border: 2px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    font-weight: 400;
    font-size: 30px;
}

.about p {
    font-weight: lighter;
    /* color: rgb(214, 210, 210); */
    font-size: 21px;
    line-height: 35px;
    color: rgb(233, 231, 231);
}

.list {
    font-weight: lighter;
    /* color: rgb(214, 210, 210); */
    font-size: 21px;
    line-height: 35px;
    /* border: 2px solid crimson; */
    margin-left: 20px;
    color: rgb(233, 231, 231);
}

/* ====== MEDIA QUERY FOR INFO SECTION ====== */
@media(max-width:1332px) {
    .myinfo{
        flex-wrap: wrap-reverse;
        gap: 4em;
    }
    .detail{
        border: none;
    }
}
@media(max-width:734px){
    .detcont{
        flex-wrap: wrap;
        align-content: center;
    }
}
@media(max-width:499px) {
    .myinfo{
        margin: 30px 40px;
    }
}
@media(max-width:483px){
    .icons a .icon{
        width: 35px;
    }
}
@media(max-width:389px) {
    .detail ul{
        font-size: 15px;
    }
    .about h2{
        font-size: 19px;
    }
    .about p{
        font-size: 17px;
    }
    .about .list{
        font-size: 17px;
    }
    .icons a .icon{
        width: 30px;
    }
}
@media(max-width:340px) {
    .myinfo{
        margin: 25px 30px;
    }
}


/* ====== SKILL SECTION ====== */
.myskill{
    border: 2px solid crimson;
    background-color: rgb(5, 5, 75);
    padding: 50px 100px;
    border: none;
}
.myskill .top {
    border: 2px solid white;
    color: white;
    text-align: center;
    padding: 25px;
    font-weight: 400;
    border: none;
}

.skills{
    border: 2px solid yellow;
    background-color: rgb(226, 223, 223);
    padding: 80px;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 3em;
    border: none;
}
.skills .skill{
    /* border: 2px solid white; */
    background-color: #fff;
    color: black;
    width: 300px;
    height: 465px;
    border-radius: 20px;
    padding: 10px;
}
.skills .skill img{
    border: 4px solid rgb(94, 5, 17);
    border-radius: 50px;
    width: 85px;
    height: 85px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 100px;
    margin-bottom: 30px;
}
.skill img:hover{
    background-color: rgb(94, 5, 17);
    border-color: rgb(177, 175, 175);
}
.skill h2{
    /* border: 2px solid red; */
    text-align: center;
    font-weight: 400;
    color: rgb(65, 2, 10);
}
.skill p{
    text-align: center;
    color: #444343;
    font-weight: 200;
    line-height: 28px;
}

/* ====== MEDIA QUERY FOR SKILL SECTION ====== */
@media(max-width:970px) {
    .skills{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        flex-wrap: wrap;
    }
}
@media(max-width:665px){
    .myskill{
        padding: 30px 50px;
    }
}
@media(max-width:555px){
    .myskill{
        padding: 20px 35px;
    }
}
@media(max-width:513px){
    .myskill{
        padding: 10px 15px;
    }
    .skills .skill{
        width: 250px;
        height: 410px;
        padding: 5px;
        /* border: 2px solid black; */
    }
    .skills .skill img{
        margin-left: 75px;
        padding: 3px;
    }
    .skill h2{
        font-size: 16px;
        /* border: 2px solid black; */
    }
    .skill p{
        line-height: 20px;
        font-size: 15px;
    }
}
@media(max-width:423px) {
    .myskill .skills{
        padding: 40px;
    }
}
@media(max-width:365px){
    .myskill .skills {
        padding: 20px;
    }
}

/* ====== WORKS SECTION ====== */
.workcontainer{
    border: 5px solid rgb(1, 1, 92);
    background-color: rgb(1, 1, 92);
    text-align: center;
}

.works{
    /* border: 2px solid steelblue; */
    color: #fff;
    /* text-align: center; */
    padding: 10px;
    margin-top: 25px;
}
.Ws{
    /* border: 2px solid pink; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 1em; */
}
.work{
    /* border: 2px solid salmon; */
    width: 520px;
    height: 600px;
    border-radius: 20px;
    margin: 73px;
    background-color: rgb(3, 3, 80);
    padding-left: 40px;
    padding-right: 40px;
}

.work:hover{
    animation-name: upward;
    animation-duration: 2.5s; 
}
@keyframes upward {
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}
.work h2{
    /* border: 2px solid red; */
    padding: 10px;
    color: whitesmoke;
    font-weight: 600;
}
.work p{
    /* border: 2px solid green; */
    height: 30vh;
    text-align: justify;
    padding: 10px;
    color: rgb(194, 191, 191);
    line-height: 23px;
}
.work img{
    /* border: 2px solid pink; */
    width: 445px;
    height: 300px;
    margin-top: 20px;
}

/* ====== MEDIA QUERY FOR WORK SECTION ====== */
@media(max-width:365px)