*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border: 4px solid black;
    width: 90%;
    margin: auto;
    padding: 150px;
    display: flex;
    justify-content: center;
    position: relative;
}
.tvscreen{
    border: 10px solid black;
    width: 40%;
    height: 200px;
    position: relative;
    background-color: rgb(137, 213, 243);
}
.pic{
    position: absolute;
}
.stadium{
    width: 100%;
    top: 25px;
}
.ball{
    width: 23px;
    right: 280px;
    top: 145px;
    animation-name: moveball;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
@keyframes moveball{
      0%{
        transform: translateX(0px);
     }
     50%{
        transform: translateX(215px);
     }
}
.player1{
    width: 65px;
    left: 280px;
    top: 90px;
}
.player2{
    width: 50px;
    right: 290px;
    top: 90px;
}
.neck{
    border: 2px solid black;
    width: 3%;
    height: 25px;
    background-color: black;
    position: absolute;
    bottom: 135px;
}
.base{
    border: 2px solid black;
    width: 150px;
    height: 50px;
    background-color: black;
    position: absolute;
    bottom: 90px;
    border-radius: 50%;
}
.speaker{
    border: 2px solid black;
    width: 13%;
    height: 261px;
    background-color: black;
    position: absolute;
    display: flex;
    justify-content: center;
}
.speak1{
    left: 140px;
}
.speak2{
    right: 140px;
}
.big{
    border: 2px solid black;
    width: 115px;
    height: 115px;
    background-color: white;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    position: absolute;
}
.small{
    order: 2px solid black;
    width: 55px;
    height: 55px;
    background-color: black;
    border-radius: 100px;
    position: absolute;
    animation-name: smallcircles;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 2.5s;
}
@keyframes smallcircles{
     0%{
        transform: translateX(10px);
     }
     25%{
        transform: translateY(10px);
     }
     75%{
        transform: translateX(-10px);
     }
     100%{
        transform: translateY(-10px);
     }
}
.small:hover{
    background-color: green;
    transition: 2s;
}
.smallcircle1{
    bottom: 28px;
}
.smallcircle2{
    bottom: 28px;
}